<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        header {
            border-bottom: 1px solid gray;
            margin-bottom: 20px;
        }
        .text_center {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="text_center">COURSES</h1>
        <p class="text_center">{{doc.name}}</p>
    </header>
    <div class="col-md-12">
        <div class="col-md-5">
            <p><strong>Course ID</strong></p>
            <p><strong>Course Name</strong></p>
        </div>
        <div class="col-md-7">
            <p>{{doc.courseid}}</p>
            <p>{{doc.name}}</p>
        </div>
    </div>
    <br>

    <br>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>StudentID</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Full Name</th>
                        <th>Birthday</th>
                        <th>Age</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for row in doc.students_enrolled -%}
                        <td>{{ row.studentid }}</td>
                        <td>{{ row.first_name}}</td>
                        <td>{{ row.middle_name}}</td>
                        <td>{{ row.last_name}}</td>
                        <td>{{ row.full_name}}</td>
                        <td>{{ row.birthday}}</td>
                        <td>{{ row.age}}</td>
                        <td>{{ row.course}}</td>
                    {%- endfor -%}
                </tbody>
            </table>

            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Subject ID</th>
                        <th>Subject Name</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for row in doc.list_of_subjects -%}
                        <td>{{ row.subjectid }}</td>
                        <td>{{ row.subject_name}}</td>
                    {%- endfor -%}
                </tbody>
            </table>
</body>
</html>
