<!DOCTYPE html>
<html>
<head>
    <style>
        .text_center {
            text-align: center;
        }
        header {
            border-bottom: 1px solid gray;
        }

    </style>
</head>
<body>
    <header>
        <h1 class="text_center">STUDENT INFORMATION</h1>
        <p class="text_center">SAMPLE</p>
        <br>
    </header>
    <br>

    <div class="col-md-12">
        <div class="col-md-6">
            <p><strong>Subject ID</strong></p>
            <p><strong>First Name</strong></p>
            <p><strong>Middle Name</strong></p>
            <p><strong>Last Name</strong></p>
            <p><strong>Full Name</strong></p>
            <p><strong>Birthday</strong></p>
            <p><strong>Age</strong></p>
            <p><strong>Course</strong></p>
        </div>
        <div class="col-md-6">
            <p>{{doc.student_id}}</p>
            <p>{{doc.first_name}}</p>
            <p>{{doc.middle_name}}</p>
            <p>{{doc.last_name}}</p>
            <p>{{doc.full_name}}</p>
            <p>{{doc.birthday}}</p>
            <p>{{doc.age}}</p>
            <p>{{doc.courses}}</p>
        </div>
    </div>

</body>
</html>
